*{
    margin: 0px;
    padding: 0px;
}
.container {
    margin: auto;
    margin-top: 50px;
    width: 30%;
}
.form-grup{
    margin-bottom: 10px;

}
input {
    width: 100%;

}
small {
    color : red;
}