table, th,td {
      border: 1px solid black;
}
table {
      width: 80%;
      border-collapse: collapse;
}
/* navbar */
.navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: whitesmoke
      ;
}
.navbar li a {
      display: block;
      color: black;
      font-size: 30px;
      padding: 8px 16px;
      text-decoration: none;
}

.navbar ul li a:hover {
      background-color: crimson;
}
/* input siswa baru */
.bt {
      text-decoration: none;
      color: blue;
      font-size: 30px;
      font-weight: 500;
}

.mb {
      margin-bottom: 25px;
}

input {
      width: 100%;
      padding: 7px;
      margin: 5px 0px;
      box-sizing: border-box;
}

.btn {
      background-color: green;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: noe;
      display: inline-block;
      font-size: 16px;
      margin: 5px;
      cursor: pointer;
}